<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--配置运行的sql在控制台打印输出-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>

        <!--设置映射方式 autoMappingBehavior属性
                NONE：不自动进行映射
                PARTIAL：默认值，对没有嵌套结果集自动进行映射
                FILL：对所有结果集进行自动映射，一般情况下，如果有结果集我们也使用ReaultMap，所以FULL很少用
        -->
        <setting name="autoMappingBehavior" value="PARTIAL"/>

        <!--驼峰映射
                开启驼峰映射后：例如数据库字段中的nick_name，在PO中属性却是nickName也可以自动匹配上（mybatis会自动将下划线更改成驼峰类型）
        -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--定义别名-->

        <!--开启延迟加载的开关 默认是false -->
        <setting name="lazyLoadingEnabled" value="true"/>

        <!-- &lt;!&ndash;发生延迟加载的时候， 是否完全加载  默认是 false (3.1.4版本之后)  一般不配置 用默认的就可以&ndash;&gt;
         <setting name="aggressiveLazyLoading" value="true"/>-->

    </settings>
    <typeAliases>
        <package name="cn.ccj.entity"/>
    </typeAliases>
</configuration>